<h1 id="requirements-for-can-library">Requirements for CAN Library</h1>
<table>
<colgroup>
<col width="24%" />
<col width="75%" />
</colgroup>
<tbody>
<tr class="odd">
<td><p>I need to have support for + these devices +</p>
<pre><code>             +</code></pre></td>
<td><p>Null Device: For no device connected/emulation ----------------------------------------------------------+ Kvaser Device: for Kvaser Devices ----------------------------------------------------------+ CANAlyzer Device: for CANAlyzer Devices ----------------------------------------------------------+ Unitiliazed Device: for uninitialized state. Prevents CAN messages from being sent/received.</p></td>
</tr>
</tbody>
</table>
