<h1 id="introduction">Introduction</h1>
<p>This document outlines the commands in the <code>NECES.ModuleEmulator</code> platform and their usage.</p>
<p>It will outline when to use certain commands, their caveats, the information returned, their development status, and several other things.</p>
<h1 id="commands">Commands</h1>
<table>
<thead>
<tr class="header">
<th align="left">Command</th>
<th align="left">Category</th>
<th align="left">Syntax</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Set System</td>
<td align="left">Setup</td>
<td align="left"><code>system (system name)</code></td>
</tr>
<tr class="even">
<td align="left">Set CAN Device</td>
<td align="left">Setup/CAN</td>
<td align="left"><code>can device (kvaser|canalyzer|null)</code></td>
</tr>
<tr class="odd">
<td align="left">Set Baud Rate</td>
<td align="left">Setup/CAN</td>
<td align="left"><code>can baud ###</code></td>
</tr>
<tr class="even">
<td align="left">Open Channel</td>
<td align="left">Setup/CAN</td>
<td align="left"><code>can channel # open</code></td>
</tr>
<tr class="odd">
<td align="left">Close channel</td>
<td align="left">Setup/CAN</td>
<td align="left"><code>can channel # close</code></td>
</tr>
<tr class="even">
<td align="left">Set Voltage</td>
<td align="left">Set/Mod</td>
<td align="left"><code>set mod #[-#] cell #[-#] volt #[.##]</code></td>
</tr>
<tr class="odd">
<td align="left">Set Temperature</td>
<td align="left">Set/Mod</td>
<td align="left"><code>set mod #[-#] temp ##[.##]</code></td>
</tr>
<tr class="even">
<td align="left">Set General Latency</td>
<td align="left">Set/General</td>
<td align="left"><code>set latency ####</code></td>
</tr>
<tr class="odd">
<td align="left">Set Module Latency</td>
<td align="left">Set/Mod</td>
<td align="left"><code>set mod #[-#] latency ####</code></td>
</tr>
<tr class="even">
<td align="left">Exit</td>
<td align="left">Setup/General</td>
<td align="left"><code>exit</code></td>
</tr>
</tbody>
</table>
<h2 id="setup-commands">Setup Commands</h2>
<p>These commands are used to set up the program so that it will communicate with the SCSM. Here you define which system you are emulating, which can devices are being used, and then open the channel.</p>
<p>You should follow the following order of operations.</p>
<ol style="list-style-type: decimal">
<li>Set System</li>
<li>Set CAN Device</li>
<li>Optionally change CAN parameters.</li>
<li>Open Channel</li>
<li>Set variables and run tests</li>
<li>Close channel</li>
<li>Exit.</li>
</ol>
<h3 id="set-system-command"><em>Set System</em> Command</h3>
<p>The <em>Set System</em> command reads from <code>config/config.csv</code> in order to find the system you've specified. Once found, it uses the values in the file to define how many modules are in the specified rack, along with the number of cells per module and the number of temperature sensors in each module. It inializes the objects where this information is set, and then returns.</p>
<dl>
<dt><strong>Syntax:</strong> <code>system (system name)</code></dt>
<dd>The system name here is the name as defined in the <code>config/config.csv</code> file.
</dd>
</dl>
<h3 id="set-can-device-command"><em>Set CAN Device</em> Command</h3>
<p>The <em>Set CAN Device</em> command chooses one of the pre-defined CAN device driver classes to use for CAN communication in the program. It initializes the driver and ensures that all CAN related settings are valid.</p>
<dl>
<dt><strong>Syntax:</strong> <code>can device (kvaser|canalyzer|null)</code></dt>
<dd>Specify the device. This command is essential for future execution of the code.
</dd>
</dl>
<h3 id="set-baud-rate-command"><em>Set Baud Rate</em> Command</h3>
<p>The <em>Set Baud Rate</em> command overrides the default baud rate defined for the system test. This command can be executed any time before opening the CAN channel.</p>
<dl>
<dt><strong>Syntax:</strong> <code>can baud ###</code></dt>
<dd><p>The baud rate you want to set in Kbaud. Allowable options are:</p>
<ul>
<li>125: 125 Kbaud</li>
<li>250: 250 Kbaud</li>
<li>500: 500 Kbaud</li>
<li>1000: 1 Mbaud</li>
</ul>
</dd>
</dl>
<h3 id="open-can-channel-command"><em>Open CAN Channel</em> Command</h3>
<p>The <em>Open CAN Channel</em> command opens the channel on the selected CAN device (Kvaser, CANAlyzer, NULL) and starts a listener thread that will poll the device driver repeatedly, looping after the delay specified by the general latency command.</p>
<dl>
<dt><strong>Syntax:</strong> <code>can channel # open</code></dt>
<dd>Allowable channel #'s are currently 0 and 1. Channel 0 is equivalent to channel 1 at this moment, and channel 1 maps to channel 2.
</dd>
</dl>
<h3 id="close-can-channel-command"><em>Close CAN Channel</em> Command</h3>
<p>The <em>Close CAN Channel</em> command stops the listener thread and then closes the channel on the CAN driver.</p>
<dl>
<dt><strong>Syntax:</strong> <code>can channel # close</code></dt>
<dd>Allowable channel #'s are currently 0 and 1. Channel 0 is equivalent to channel 1 at this moment, and channel 1 maps to channel 2.
</dd>
</dl>
<h3 id="exit-command"><em>Exit</em> command</h3>
<p>The <em>Exit</em> command is pretty straight forward: it does the logic needed to dispose of all resources and then exits.</p>
<p><strong>Syntax <code>exit</code></strong></p>
<h2 id="set-commands">Set Commands</h2>
<p>These commands are used to set values modelled within the program for use in Rack Emulations. Here you can set the voltages, the temperatures and module latencies. All of these commands should only be executed once the system is set and those data structures are initialized.</p>
<h3 id="set-voltage-command"><em>Set Voltage</em> Command</h3>
<p>The <em>Set Voltage</em> command will set the voltage to a specified value for the chosen cell on the chosen module. It can also set the sepecified voltage for a set of cells speficied by a range of indexes on both cells and modules.</p>
<dl>
<dt><strong>Syntax <code>set mod #[-#] cell #[-#] volt #[.###]</code></strong></dt>
<dd><p>Each of the <code>#[-#]</code> sections indicate an optional range value, which means you can either specify that you want to reference module 4, or modules 3-6. Modules and cells are both currently 0-indexed, and ranges are inclusive.</p>
<p>Voltage is specified in volts and can be any decimal value that can be encoded into the CAN register by the device.</p>
<dl>
<dt>Example Set Voltage Commands</dt>
<dd><code>set mod 0-13 cell 0-6 volt 3.333</code> This would set every cell in an optimus system to have a voltage of 3.333 volts.
</dd>
<dd><p><code>set mod 1 cell 3-6 volt 4.5</code> This would set cells 3-6 (4-7 in an 1-indexed world) on module 1 (2) of the rack to have a voltage of 4.5 volts.</p>
</dd>
</dl>
</dd>
</dl>
